In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Mahender1998/Bank-customer-churn-prediction/main/churn.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data.shape

(10000, 14)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
## Drop The  Unwanted Columns
data.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
data["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [11]:
data["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [14]:
## Apply One Hot Encoding
data = pd.get_dummies(data,columns=["Geography","Gender"],drop_first=True)

In [15]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [18]:
# Saprate Dependent and Indipendent variable
x = data.drop("Exited",axis=1)
y = data["Exited"]

In [27]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential   ## Using  sequential approach
from tensorflow.keras.layers import Dense  ## Help To Creat Hidden Layer
from keras.api._v2.keras import activations

In [28]:
model = Sequential()
model.add(Dense(11,activation="sigmoid",input_dim=11)) ## Adding Layer  INput Layer
model.add(Dense(11,activation="sigmoid"))## Hidden Layer
model.add(Dense(1,activation="sigmoid"))## Output Layer

In [29]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 276 (1.08 KB)
Trainable params: 276 (1.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
## Split data in to train test split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [31]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(X_test.shape)

(8000, 11)
(2000, 11)
(8000,)
(2000, 11)

In [32]:
from sklearn.preprocessing import StandardScaler  ## Scale Data Using Grident Disent
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [37]:
## Compile Model 
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [58]:
model.fit(X_train,y_train,batch_size=65,epochs=100,verbose=1)

Epoch 1/100
124/124 [==============================] - 0s 2ms/step - loss: 0.3234 - accuracy: 0.8660
Epoch 2/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3233 - accuracy: 0.8648
Epoch 3/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3234 - accuracy: 0.8644
Epoch 4/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3232 - accuracy: 0.8659
Epoch 5/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3230 - accuracy: 0.8668
Epoch 6/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3237 - accuracy: 0.8655
Epoch 7/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3233 - accuracy: 0.8654
Epoch 8/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3233 - accuracy: 0.8656
Epoch 9/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3229 - accuracy: 0.8671
Epoch 10/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3232 - accuracy: 0.8666
Epoch 11/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3228 - accuracy: 0.8666
Epoch 12/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3229 - accuracy: 0.8673
Epoch 13/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3225 - accuracy: 0.8665
Epoch 14/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3230 - accuracy: 0.8661
Epoch 15/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3229 - accuracy: 0.8679
Epoch 16/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3225 - accuracy: 0.8669
Epoch 17/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8662
Epoch 18/100
124/124 [==============================] - 0s 2ms/step - loss: 0.3229 - accuracy: 0.8669
Epoch 19/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8674
Epoch 20/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3228 - accuracy: 0.8660
Epoch 21/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8671
Epoch 22/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8681
Epoch 23/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8666
Epoch 24/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3223 - accuracy: 0.8674
Epoch 25/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8681
Epoch 26/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8664
Epoch 27/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3231 - accuracy: 0.8664
Epoch 28/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3225 - accuracy: 0.8670
Epoch 29/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3223 - accuracy: 0.8685
Epoch 30/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3223 - accuracy: 0.8670
Epoch 31/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8661
Epoch 32/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3223 - accuracy: 0.8671
Epoch 33/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8666
Epoch 34/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8666
Epoch 35/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8671
Epoch 36/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8677
Epoch 37/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8670
Epoch 38/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3222 - accuracy: 0.8668
Epoch 39/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3218 - accuracy: 0.8664
Epoch 40/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8669
Epoch 41/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3219 - accuracy: 0.8683
Epoch 42/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8659
Epoch 43/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3216 - accuracy: 0.8669
Epoch 44/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3221 - accuracy: 0.8668
Epoch 45/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3219 - accuracy: 0.8674
Epoch 46/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3219 - accuracy: 0.8669
Epoch 47/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8689
Epoch 48/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3219 - accuracy: 0.8675
Epoch 49/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3215 - accuracy: 0.8665
Epoch 50/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3218 - accuracy: 0.8679
Epoch 51/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3218 - accuracy: 0.8677
Epoch 52/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3216 - accuracy: 0.8694
Epoch 53/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8670
Epoch 54/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3215 - accuracy: 0.8677
Epoch 55/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3213 - accuracy: 0.8685
Epoch 56/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3215 - accuracy: 0.8669
Epoch 57/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3216 - accuracy: 0.8673
Epoch 58/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3218 - accuracy: 0.8673
Epoch 59/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3212 - accuracy: 0.8681
Epoch 60/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3215 - accuracy: 0.8661
Epoch 61/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3217 - accuracy: 0.8696
Epoch 62/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3213 - accuracy: 0.8686
Epoch 63/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8686
Epoch 64/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3212 - accuracy: 0.8669
Epoch 65/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3215 - accuracy: 0.8669
Epoch 66/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8676
Epoch 67/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3213 - accuracy: 0.8683
Epoch 68/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8673
Epoch 69/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3214 - accuracy: 0.8666
Epoch 70/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8690
Epoch 71/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8676
Epoch 72/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8684
Epoch 73/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8677
Epoch 74/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8679
Epoch 75/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3207 - accuracy: 0.8690
Epoch 76/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8690
Epoch 77/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8677
Epoch 78/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8686
Epoch 79/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3208 - accuracy: 0.8676
Epoch 80/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3208 - accuracy: 0.8670
Epoch 81/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8687
Epoch 82/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3207 - accuracy: 0.8676
Epoch 83/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8668
Epoch 84/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3208 - accuracy: 0.8675
Epoch 85/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3205 - accuracy: 0.8690
Epoch 86/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3205 - accuracy: 0.8692
Epoch 87/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3206 - accuracy: 0.8683
Epoch 88/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3202 - accuracy: 0.8685
Epoch 89/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3206 - accuracy: 0.8690
Epoch 90/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3204 - accuracy: 0.8679
Epoch 91/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3205 - accuracy: 0.8691
Epoch 92/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3208 - accuracy: 0.8686
Epoch 93/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3204 - accuracy: 0.8684
Epoch 94/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3204 - accuracy: 0.8691
Epoch 95/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3201 - accuracy: 0.8692
Epoch 96/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8677
Epoch 97/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3202 - accuracy: 0.8691
Epoch 98/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3205 - accuracy: 0.8701
Epoch 99/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3200 - accuracy: 0.8683
Epoch 100/100
124/124 [==============================] - 0s 1ms/step - loss: 0.3203 - accuracy: 0.8696

In [59]:
y_predict = model.predict(X_test)

63/63 [==============================] - 0s 918us/step

In [60]:
y_predict = y_predict.argmax(axis = -1)

In [61]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,roc_auc_score

In [62]:
print(accuracy_score(y_test,y_predict))
print(roc_auc_score(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.8035
0.5
              precision    recall  f1-score   support

           0       0.80      1.00      0.89      1607
           1       0.00      0.00      0.00       393

    accuracy                           0.80      2000
   macro avg       0.40      0.50      0.45      2000
weighted avg       0.65      0.80      0.72      2000

/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))